@import "_variables";
@import "_mixins";

* {
  padding: 0;
  margin: 0;
}

.first {
  background: $bgcolor;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block:not(.first) {
  @include padd(20px 40px 30px 50px);
  background: $bgcolor;
  width: $blockWidth;
  height: 200px;
  margin-bottom: 20px;
  border: $border;
}

#central_block {
  padding: 30px;
  li {
    width: (100%);
    list-style: none;
    display: inline-block;
    color: white;
    a {
      // @include font(red, bold);
      @include link(yellow, blue, green, red);
    }
  }
}

#grid {
  float: left;
  width: 100%;

  > div {
    @include grid(8, 2%);
  }
}
