//st

@import "_reset" ;
@import "_variables";



/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


.header_active{
  background: #0E1D28;
 }
html{
  box-sizing: border-box;

  *, *::before, *::after{
    box-sizing: inherit;
  }
  .wrapper{
    max-width: 1060px;
    margin: 0 auto;
  }
  .wrapper_full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .section_title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom:10px ;

    &::after{
      display: block;
      content: "";
      width: 253px;
      height: 3px;
      background-color: #006DFE;
      position: absolute; 
      bottom: 0;
      left: 0;
    }
  }
  img{
    max-width: 100%;
    height: auto;
  }
  >body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;

    
    >.header{

      transition: .2s linear;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom:20px;
      z-index: 999;
      >.wrapper{

        margin-top:56px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 15px;
        >.header_nav{

          >.header_list{

            display: flex;
            flex-wrap: wrap;

               >.header_item{
                  margin-right:82px;

                  &:last-child{
                    margin-right: 0;
                }

                >.header_link{
                  font-size: 18px;
                  line-height: 24px;
                  color: $text_color;
                  text-decoration: none;

                  &:hover,&:focus,&:active{
                    opacity: .75;
                  }

                }
            }
           
          }
        }
        >.header_burger{
          
          width: 40px;
          height: 28px;
          position: relative;
          display: none;
          >.burger_line{
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            left: 0;

          }

          >.burger_line_first{
           top: 0;
            
          }

          >.burger_line_second{
           
            top: 50%;
            transform:translateY(-50%);
          }

          >.burger_line_third{
           bottom: 0;
            
          }
        }
      }
    }

    >.main{
      
      //start intro
      >.intro{
        height: 100vh;
        background: url(../image/intro_bg-min.jpg) no-repeat  center;
        background-size: cover;
        padding-top:263px ;
        padding-bottom:223px ;
        >.wrapper{
          >.intro_title{
            font-weight: 500;
            font-size: 50px;
            line-height: 60px;
            color: $text_color;
            max-width: 619px;
            margin-bottom: 22px;
          }
          >.intro_subtitle{
            max-width: 546px;
            font-size: 16px;
            line-height: 24px;
            color: $text_color;
            margin-bottom: 59px;
          }
          >.search-form{

            >.search-form_wrap{
               
              >.search-form_info{

                display: flex;
                flex-wrap: wrap;

                >.search-form_field{
                  width: 297px;
                  background: transparent url(../image/svg/circle-icon.svg) left 6px no-repeat;
                  background-size: 20px;
                  border: 0;
                  border-bottom: 2px solid #BFC0C5;
                  margin-right: 60px;
                  padding-left: 43px;
                  padding-bottom: 22px;
                  font-weight: 500;
                  font-size: 18px;
                  color: $text_color;
                  &::placeholder{
                    font-weight: 500;
                    font-size: 18px;
                    color: $text_color;
                  }  

                }
                  >.search-form_sumbit{
                    padding: 15px 39px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 24px;
                    color: $text_color;
                    background: #1B7DFF;
                    border: 0;
                    &:active,&:hover,&:focus{
                       background: #135cbb;
                    }
                  }

               }
               
            }
            
          }
        } 
      }
      //end intro

      //start benefits

      >.benefits{
        margin-bottom:131px ;
        >.benefits_wrap{

          max-width: 1262px;
          background-color: white;
          margin: 0 auto;
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          position: relative;

          >.benefits_title{

            width: 100%;
            max-width: 100%;
            font-weight: 500;
            font-size: 35px;
            line-height: 42px;
            padding: 93px 100px 88px 100px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            background-color: white;
          }

          >.benefits_cards{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 50px;
            padding: 0 100px;

            >.benefits_card{
              grid-column: span 1;
              margin-bottom: 112px;
              >.benefits_card_pic{
                max-width: 66px;
                margin-bottom: 37px;

                >.benefits_card_thumb{
                  display: block;
                }
                
              }

              >.benefits_cards_title{
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 26px;
              }
              >.benefits_cards_discription{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 39px;
              }
              >.benefits_cards_more_info{
                display: inline-block;
                font-size: 16px;
                line-height: 24px;
                color: #006DFE;
                text-decoration: none;
                padding-right: 59px;
                background: url(../image/svg/benefits_learn_more.svg) no-repeat 95% center;
                transition: .2s all;
                &:hover, &:focus{
                  background: url(../image/svg/benefits_learn_more.svg) no-repeat   right center;
                  
                }
              }

            }
          }
        }
      }

      //end benefits

      //start places

        .places{
          margin-bottom: 131px;
          >.wrapper_full{

            >.places_caption{
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 36px;
              >.places_title{
                margin-right: 15px;
              }
              >.places_viev_all{
                font-size: 16px;
                color: #006DFE;
                text-decoration: none;
                 background: url(../image/svg/benefits_learn_more.svg) no-repeat   right center;
                 padding-right: 59px;
                 &:hover,&:focus{
                  opacity: .65;
                 }
              }
            }

            >.places_cards{
              display: grid;
              grid-template-columns: repeat(6,1fr);
              column-gap: 10px;
              row-gap: 10px;

               >.places_card_size_lg{
              grid-column: span 3;
            }

             >.places_card_size_sm{
              grid-column: span 2;
            }

            >.places_card{
              position: relative;
              overflow: hidden;
              &::after{
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(21, 24, 36, 0.4);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }

              &:hover .places_card_pic{
                transform: scale(1.1);

              }
              >.places_card_pic{
                width: 100%;
                height: 354px;
                object-fit: cover;
                transition: .15s;
              }
              >.places_card_pic_size_lg{
                height: 354px;
                object-fit: cover;
              }

              >.places_card_pic_size_sm{
                height: 283px;
                object-fit: cover;
              }
              >.places_card_title{
                // font-weight: 700;
                font-size: 50px;
                line-height: 60px;
                color: white;
                position: absolute;
                bottom: 27px;
                left: 26px;
                z-index: 3;
              }
              >.places_card_link{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 4;
              }
            }
            }

           
          }
        }

      //end places
      //start tours
        >.tours{
          margin-bottom: 139px;
          >.wrapper_full{

            >.tours_tour{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              column-gap:108px;
              align-items: center;
              margin-bottom: 77px;

              >.tour_info{
                padding-left: 47px;
                >.tour_title{
                  font-weight: 500;
                  font-size: 30px;
                  line-height: 40px;
                  margin-bottom:85px;
                }

                >.tour_desc{
                  font-size: 16px;
                  line-height: 24px;
                  margin-bottom: 58px;
                }
                >.tour_more{

                  font-size: 16px;
                color: #006DFE;
                text-decoration: none;
                 background: url(../image/svg/benefits_learn_more.svg) no-repeat   right center;
                 padding-right: 59px;
                 &:hover,&:focus{
                  opacity: .65;
                 }

                }
              }
            }

          }
          
        }
      //end tours
      // start top places to visit
        >.top{

          margin-bottom: 86px;
          >.wrapper_full{

            >.top_title{
              margin-bottom: 54px;
            }

            >.top_cards{
              display: grid;
              grid-template-columns: repeat(6,1fr);
              column-gap: 57px;
              row-gap: 57px;

              >.top_card{
                display: flex;
                flex-direction: column;
                grid-column: span 2;
                >.top_card_pick{
                  position: relative;
                  margin-bottom: 45px;
                  >.top_card_stats{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding:16px 25px ;

                    >.top_card_title{
                      color: #FFF;
                      font-size: 18px;
                      font-weight: 500;
                      line-height: 24px;
                      margin: 0 auto 0 0;
                    }

                    >.top_card_likes{
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 24px;
                      color: #fff;
                      padding-right: 20px;
                      background: url(../image/svg/like_icon.svg) no-repeat right;
                      margin-right: 14px;
                    }

                    >.top_card_comments{
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 24px;
                      color: #fff;
                      padding-right: 23px;
                      background: url(../image/svg/comment_icon.svg) no-repeat right;
                    }
                  }
                }

                >.top_card_desc{
                  color: #102746;
                  font-size: 16px;
                  line-height: 24px;
                  margin-bottom: 31px;
                }

                >.top_card_more{
                  text-decoration: none;
                  padding: 12px 19px;
                  text-transform: uppercase;
                  font-size: 16px;
                  color: #fff;
                  background: #006DFE;
                  max-width: 118px;
                  margin: auto 0 0 0;

                  &:hover, &:focus,&:active{
                    background: #135cbb;
                  }
                }
              }
            }
          }
        }
      // end top places to visit

      //start video
        >.video{
          width: 100%;

          >.video_wrapper{
            max-width: 1440px;
            margin: 0 auto;
            position: relative;

            >.video_item{
              padding-top: 56.25%;
            }

            >.video_element{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      //end video


    }

    
      //start footer
        >.footer{
          background: #0E1D28;
          padding: 119px 0;

          >.wrapper{
            >.footer_item{
              display: flex;
              flex-wrap:wrap ;

              >.footer_logo{
                width: 50%;
              }

              >.footer_nav{
                display: flex;
                flex-wrap:wrap;
                justify-content: space-between;
                width: 50%;

                >.footer_menu{

                  >.footer_menu_item{

                    >.footer_menu_title{
                      color: #fff;
                      font-size: 18px;
                      font-weight: 500;
                      line-height: 24px;
                    }

                    >.footer_menu_link{
                      color: #FFF;
                      text-decoration: none;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;

                      &:hover,&:focus,&:active{
                        opacity: .75;
                      }
                    }
                  }
                }
              }
            }
          }
          
        }
      //end footer
  }
}
// media start

@media screen and (max-width: 960px) {
  html{
    > body{
      > .main{

        >.intro{
          >.wrapper{
            >.search-form{
              >.search-form_wrap{
                >.search-form_info{
                  .search-form_field{
                    margin: 0 0 25px 20px;
                  }
                  >.search-form_sumbit{
                    margin-left: 20px;
                  }
                }
              }
            }
          }
        }

        > .benefits{
          margin-bottom: 65px;
          > .benefits_wrap{
            box-shadow: none;
            >.benefits_title{
              padding: 55px 15px;
            }
            >.benefits_cards{
                padding: 0 15px;
                column-gap: 35px;
                >.benefits_card{
                  margin-bottom: 60px;
                }
            } 
          }
        }

        >.places{
          >.wrapper_full{
            >.places_cards{
              >.places_card_size_lg{
                grid-column: span 6;
              }
              >.places_card_size_sm{
                grid-column: span 6;
              }
            }
          }
        }
        >.tours{
          >.wrapper_full{
            >.tours_tour{

            column-gap: 35px;

             >.tour_info{
              padding-left: 0;

              >.tour_title{
                margin-bottom: 15px;
               }

               >.tour_desc{
                margin-bottom: 15px;
               }
             }

             
            }
          }
        }

        >.top{
          >.wrapper_full{
            >.top_cards{
              column-gap: 25px;
              row-gap: 55px;
              >.top_card{
                grid-column: span 3;

                >.top_card_pick{
                  margin-bottom: 25px;
                }
              }
            }
          }
        }
      }

      >.footer{
        padding: 60px 0;
      }
    }
  }
      



 


} 





@media screen and (max-width: 767px) {
  html{

    

    > body{
      >.header{
        >.wrapper{
          >.header_nav{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #000;
            z-index: 10;
            padding: 75px;
            transform: translateX(100%);
            transition: .2s all linear;

            

            >.header_list{

              >.header_item{
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;

                &:last-child{
                  margin-bottom: 0;
                }

                >.header_link{
                  font-size: 42px;
                  line-height: 48px;
                  
                }
              }
            }

            >.header_nav_close{
              width: 40px;
              height: 40px;
              position: absolute;
              top: 20px;
              right: 20px;
              z-index: 11;

              >.header_nav_close_line{
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                

                &:first-child{
                  transform: translateY(-50%) rotate(45deg);
                }

                &:last-child{
                  transform: translateY(-50%) rotate(-45deg);
                }
              }
            }
          }
          >.header_burger {
            display: block;
          }

          >.header_nav_active{
            transform: translateX(0);

          }
        }
      }

      > .main{

        >.intro{
          height: auto;
          padding-top: 150px;
          >.wrapper{
            >.intro_title{
              font-size: 32px;
              line-height: 48px;
            }

            >.intro_subtitle{
              font-size: 14px;
            }
            >.search-form{
              >.search-form_wrap{
                >.search-form_info{
                  
                  
                  .search-form_field{
                    width: 100%;
                    margin: 0 0 15px 0;
                    padding-bottom: 12px;
                    background: url(../image/svg/circle-icon.svg) no-repeat left 5px  top 2px;

                    &::placeholder{
                      font-size: 16px;
                    }
                  }
                  >.search-form_sumbit{
                    margin: 0;
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        > .benefits{
          margin-bottom: 0px;
          > .benefits_wrap{
            box-shadow: none;
            >.benefits_title{
              padding: 55px 15px;
            }
            >.benefits_cards{
                padding: 0 15px;
                column-gap: 35px;
                >.benefits_card{
                  grid-column: span 3;
                  margin-bottom: 30px;
                  >.benefits_card_pic{
                    margin-bottom: 20px;
                  }

                  >.benefits_cards_title{
                    margin-bottom: 12px;
                  }

                  >.benefits_cards_discription{
                    margin-bottom: 20px;
                  }
                }
            } 
          }
        }

        >.places{
          margin-bottom: 76px;
          >.wrapper_full{
            
            

            >.places_caption{
              >.section_title{
                &::after{
                  width: 78px;
              }

              
            }
              }
              >.places_cards{
                >.places_card_size_lg, .places_card_size_sm{
                  height: 230px;
                  grid-column: span 6;
              }
              
             
            }
          }
        }
        >.tours{
          margin-bottom: 70px;
          >.wrapper_full{


            >.tours_tour{
             column-gap: 35px;
             margin-bottom: 36px;
             >.tuor_pic{
              margin-bottom: 12px;

              &:last-child{
                margin-top: 10px;
                grid-row-start: -1;
              }
            }
              >.tuor_pic, .tour_info{
                grid-column: span 2;
              }

              
             >.tour_info{

              >.tour_title{
                margin-bottom: 15px;
               }

               >.tour_desc{
                margin-bottom: 15px;
               }

               
             }

             
            }
          }
        }

        >.top{
          margin-bottom: 76px;
          >.wrapper_full{
            >.top_title{
              margin-bottom: 25px;
            }

            >.section_title{
                &::after{
                  width: 78px;
              }
            }

            >.top_cards{
              column-gap: 25px;
              row-gap: 55px;
              >.top_card{
                grid-column: span 6;

                >.top_card_desc{
                  margin-bottom: 15px;
                }

                >.top_card_pick{
                  margin-bottom: 25px;
                }
              }
            }
          }
        }
      }

      >.footer{
        padding: 60px 0;
        
        >.wrapper{
          >.footer_item{
            >.footer_logo{
              width: 100%;
              margin-bottom: 20px;
            }
            >.footer_nav{
              width: 100%;
              margin-left: 15px;
              >.footer_menu{
                width: 50%;
                margin-bottom: 20px;
              }
            }
          }
        }




        
      }
    }
  }
  
}


@media screen and (max-width:500px) {
  html{
    > body{
      >.header{
        >.wrapper{
          >.header_nav{
           padding: 75px 30px;

          }
        }
      }
    }
  }
}
// media end
