* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  > body {
    background-color: black;
    color: white;
    > #root {
      > .name {
        > .header {
          background-color: white;
          color: black;
          padding: 20px;
        }
      }
    }
  }
}
